<%- include partials/header.js %>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="row center">
                <h4 class="teal-text">Download the PDF about the website</h4>
                <a href="images/Chadha_Varun_Test2.psd" class="waves-effect waves-light btn">Download</a>
            </div>
            <div class="container">
                <h1 class="header center teal-text text-lighten-2"><%= title %></h1>
            </div>
        </div>
        <div class="parallax"><img src="images/home.png" alt="coffee"></div>
    </div>
    <div class="center-align container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">perm_identity</i></h2>
                        <h5 class="center">About</h5>

                        <p class="light">Varun Chadha is a Web Designer Specializing in HTML5, CSS3, JavaScript, PHP, and Node for clients of all sizes. He is currently attending post secondary school in the web design program, He is set to graduate April 2016 and will be seeking full-time employment.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">android</i></h2>
                        <h5 class="center">Focused Goals</h5>

                        <p class="light">Varun is passionate about building websites which are user-friendly. He is a web designer from India, who came into Canada with the hope and a dream to become the best web designer in the industry. He has experiences in developing websites for clients, it has allowed for him to expand his experiances and allow him to gain more knowledge. With every project that has come his way, he has been able to work effiently and professionally; Which will in the end only help with the success for future clients and make for amazing web designing project.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Build With</h5>

                        <p class="light">This website has been running on Node. which is connected to azure server. All design is served by Materialize</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/wireframe.jpg" alt="Unsplashed background img 3"></div>
    </div>
    <%- include partials/footer.js %>