<%- include partials/header.js %>
    <div class="slider fullscreen">
        <ul class="slides">
            <li>
                <img src="images/home.png" alt="design">
                <!-- random image -->
                <div class="caption center-align">
                    <div class="mylogo">
                        <img src="images/logo.png" alt="logo" />
                    </div>
                    <h5 class="light grey-text text-lighten-3">Web Designer & Developer</h5>
                </div>
            </li>
            <li>
                <img src="images/desktop.jpg">
                <!-- random image -->
                <div class="caption right-align">
                    <h3>Web Design</h3>
                    <h5 class="light grey-text text-lighten-3"><span style="background-color: black;">Quality Not Quantity</span></h5>
                </div>
            </li>
            <li>
                <img src="images/coffee.png">
                <!-- random image -->
                <div class="caption center-align">
                    <h1>Coffee <i class="material-icons">local_cafe</i></h1>
                    <h5 class="light grey-text text-lighten-3">Here's secreat of me working hard.</h5>
                </div>
            </li>
            <li>
                <img src="images/wireframe.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <div class="social">
                    <h1>Find Me On!</h1>
                    <h5><i class="fa fa-facebook-square fa-3x"></i>  <i class="fa fa-twitter-square fa-3x"></i> <i class="fa fa-github-square fa-3x"></i>
</h5>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>